/* Fuente */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&family=Prompt:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Variables */
:root {
    --Fondo-1: #ffffff; /* Blanco */
    --Fondo-2: #e4eff7; /* Azul Blanquisco */
    --Logo-Azul:  #247ca4; /* Azul Triolingo */
    --Links: #247ca4; /* Azul Triolingo*/
    --Links-Hover: #f39404; /* Naranja Triolingo*/
    --Botones:  #2cabe3; /* Azul Claro */
    --Botones-Hover:  #1d678a; /* Azul Oscuro */
    --Footer: #2cabe3; /* Azul Claro */
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* Nav */
.navbar {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background-color: var(--Fondo-1);
	padding: 5px 10vh;
	position: relative;
}

.logo {
    display: flex;
    align-items: center;
    width: 40px;
	color: var(--Logo-Azul);
	font-size: 25px;
	font-weight: bold;
	text-decoration: none;
}

.navbar-links {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

.navbar-links ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
}

.navbar-links li {
	margin-left: 30px;
}

.navbar-links a {
	color: var(--Links);
	font-size: 14pt;
    font-weight: bold;
	text-decoration: none;
}

.navbar-links a:hover {
	color: var(--Links-Hover);
    transition: 0.8s;
}

@media screen and (max-width: 768px) {
	.navbar {
		flex-direction: column;
		align-items: flex-start;
        padding: 5px 2vh;
	}
	.navbar-links {
		display: none;
		position: absolute;
		top: 50px;
		left: 0;
		background-color: var(--Links);
		width: 100%;
		padding: 10px 0;
	}
	.navbar-links ul {
		flex-direction: column;
	}
	.navbar-links li {
		margin: 10px 0;
	}
	.toggle-button {
		position: absolute;
		top: 40%;
		right: 25px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		width: 30px;
		height: 20px;
	}
	.toggle-button .bar {
		height: 3px;
		width: 100%;
		background-color: var(--Links);
		border-radius: 3px;
	}
}


/* Footer */
footer {
    background-color: var(--Footer);
    height: 6vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p a{
    text-decoration: none;
    color: white;
}

footer p a:hover{
    color: black;
}
