/* Header */
header {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 55vh;
    background-image: url("../Resources/Images/Ladrillos-Fondo.jpg");
}

header .Contenido {
    width: 100vh;
}

header .Contenido h1 {
    font-size: 7vh;
}

header .Contenido a input{
    text-transform: uppercase;
    padding: 1% 8%;
    border-radius: 25px;
    font-size: 14pt;
    background-color: var(--Botones);
    border: 3px solid var(--Botones-Hover);
    color: white;
    font-weight: 600;
}

header .Contenido a input:hover {
    background-color: var(--Botones-Hover);
    transition: 0.6s;
}

/* Article*/
article {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 43vh;
}

article .Contenido{
    width: 150vh;
}

article .Contenido h1 {
    font-size: 6vh;
    color: var(--Logo-Naranja);
}

article .Contenido p {
    font-weight: 600;
    font-size: 18pt;
}

/* Section */
section {
    display: flex;
    align-items: center;
    background-color: var(--Fondo-2);
}

section .Container-Items {
    margin: 5vh;
    width: 90%;
}

section .Container-Center {
    margin: 5vh;
}

section .Container-Center .Imagen img {
    width: 50vh;
    border-radius: 25%;
}

section .Item {
    margin: 8vh 0;
    text-align: justify;
}

section .Item img {
    width: 50px;
    margin-right: 2vh;
}

section .Item h1 {
    font-size: 3.5vh;
    color: var(--Botones-Hover);
}

section .Item p {
    font-size: 2vh;
    font-weight: 600;
}

@media (max-width: 1200px) {
    
    /* Section */
    section {
        display: flex;
        flex-direction: column;
    }

    section .Container-Items {
        margin: 0;
    }

    section .Container-Center {
        display: none;
    }
}

@media (max-width: 700px) {

        /* Header */
        header .Contenido h1{
            font-size: 5vh;
        }
    
        /* Article */
        article .Contenido h1 {
            font-size: 3vh;
        }
    
        article .Contenido p {
            font-size: 2.5vh;
        }
    
}

@media (max-width: 310px) {

    * {
        display: none;
    }
    
}