body {
    background-color: var(--Fondo-2);
}

.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 82.1vh;
    margin: 0 2.5vh;
}

.login-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

h2 {
    color: var(--Logo-Azul);
    font-weight: bold;
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}

input {
    padding: 10px;
    border: 2px solid rgb(202, 202, 202);
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: whitesmoke;

}

button {
    padding: 10px;
    border-radius: 10px;
    background-color: var(--Botones);
    color: white;
    border: none;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

button:hover {
    background-color: var(--Botones-Hover);
    transition: 0.8s;
}   