</head>

<body>
    <nav>
        <div class="Logo">
            <img src="/Resources/Icons/SVG/Triolingo.svg" alt="">
            <h1>Triolingo</h1>
        </div>
        <!-- Movil solo aparece en resoluciones pequeñas-->
        <div class="Movil">
            <details>
                <summary><i class="fa-solid fa-bars fa-2x"></i></summary>
                <div class="Menu-Movil">
                    <ul>
                        <li><a href="/Usuario">Niveles</a></li>
                        <li><a href="/">Cerrar Sesión</a></li>
                    </ul>
                </div>
            </details>
        </div>
        <div class="Menu">
            <ul>
                <li><a href="/Usuario">Niveles</a></li>
                <li><a href="/">Cerrar Sesión</a></li>
            </ul>
        </div>
    </nav>