</head>

<body>
    <nav>
        <div class="Logo">
            <img src="/Resources/Icons/SVG/Triolingo.svg" alt="">
            <h1>Triolingo</h1>
        </div>
        <!-- Movil solo aparece en resoluciones pequeñas-->
        <div class="Movil">
            <input type="image" src="/Resources/Icons/PNG/menu.png" alt="">
        </div>
        <div class="Menu">
            <ul>
                <li><a href="/Usuario">Inicio</a></li>
                <li><a href="/Usuario/Niveles">Niveles</a></li>
                <li><a href="/">Cerrar Sesión</a></li>
            </ul>
        </div>
    </nav>