</head>

<body>
    <nav>
        <div class="Logo">
            <img src="./Resources/Icons/SVG/Triolingo.svg" alt="">
            <h1>Triolingo</h1>
        </div>
        <!-- Movil solo aparece en resoluciones pequeñas-->
        <div class="Movil">
            <input type="image" src="./Resources/Icons/PNG/menu.png" alt="">
        </div>
    </nav>