<!-- Header -->
<%- include('../Views/Includes/Header.ejs') %>
    <link rel="stylesheet" href="/CSS/404.css">

    <!-- Nav -->
    <%- include('../Views/Includes/Nav.ejs') %>

        <!-- Division -->
        <div class="Contenedor-404">
            <img src="/Resources/Icons/SVG/informacion.svg" alt="Error 404 ">
            <h1>Error (404) <br> No se encontro la pagina solicitada</h1>
        </div>

        <!-- Footer -->
        <%- include('../Views/Includes/Footer.ejs') %>