.Contenedor-404 {
    height: 87.1vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--Color-6);
}

.Contenedor-404 h1 {
    margin: 0 3vh;
}

@media (max-width: 768px) {
    .Contenedor-404 {
        flex-direction: column;
        text-align: center;
    }
}