<!-- Header -->
<%- include('../Includes/Header.ejs') %>
    <link rel="stylesheet" href="/CSS/Inicio.css">

    <!-- Nav -->
    <%- include('../Includes/Nav-Invitado.ejs') %>

        <!-- Division -->
        <header>
            <div class="Contenido">
                <h1>Triolingo la mejor plataforma para empezar a aprender inglés!</h1><br><br>
                <a href="/Login"><input type="button" value="Empieza ahora"></a>
            </div>
        </header>
        <br>

        <!-- Division -->
        <article>
            <div class="Contenido">
                <h1>La forma #1 del mundo para aprender inglés</h1><br><br>
                <p style="color: var(--Logo-Azul);">¡Aprender con Duolingo es divertido y los estudios demuestran quefunciona!</p>
                <p>Nuestras lecciones cortas ganarás puntos y accederás a nuevos niveles, todo mientras desarrollas tus capacidades comunicativas en la vida real.</p>
            </div>
        </article>
        <br>

        <!-- Division -->
        <section>
            <!-- Left -->
            <div class="Container-Items">
                <div class="Item">
                    <h1><img src="/Resources/Icons/PNG/eficiencia.png" alt="">Efectivo y eficiente</h1>
                    <p>Nuestros cursos enseñan a leer, escuchar y hablar en otro idioma de forma efectiva y eficiente. ¿Ya viste nuestros estudios más recientes?</p>
                </div>
                <div class="Item">
                    <h1><img src="/Resources/Icons/PNG/libro.png" alt="">Aprendizaje personalizado</h1>
                    <p>Al combinar lo mejor de la inteligencia artificial y las ciencias de idiomas, las lecciones se
                        adaptan a tu desempeño para ayudarte a aprender al nivel adecuado y a tu propio ritmo.</p>
                </div>
            </div>

            <!-- Center -->
            <div class="Container-Center">
                <div class="Imagen">
                    <img src="/Resources/Icons/PNG/Cerebro-Caricatura.png" alt="">
                </div>
            </div>

            <!-- Right -->
            <div class="Container-Items">
                <div class="Item">
                    <h1><img src="/Resources/Icons/PNG/motivar.png" alt="">Mantente motivado</h1>
                    <p>Al sentirse como un juego y ofrecerte desafíos divertidos, hacemos que sea fácil formar un hábito
                        de aprendizaje de idiomas. Además, siempre contarás con el apoyo y los recordatorios de nuestra
                        amistosa mascota, Trio, el búho.</p>
                </div>
                <div class="Item">
                    <h1><img src="/Resources/Icons/PNG/risa.png" alt="">¡Diviértete!</h1>
                    <p>El aprendizaje puede ser efectivo y divertido a la vez! Desarrolla tus habilidades cada día con
                        ejercicios entretenidos y personajes entrañables.</p>
                </div>
            </div>
        </section>

        <!-- Footer -->
        <%- include('../Includes/Footer.ejs') %>