<!-- Header -->
<%- include('../Includes/Header.ejs') %>
    <link rel="stylesheet" href="../CSS/Login-Registrarse.css">

    <!-- Nav -->
    <%- include('../Includes/Nav-Invitado.ejs') %>

        <!-- Division -->
        <div class="container">
            <div class="login-form">
                <h1>Iniciar sesión</h1>
                <form method="POST" action="">
                    <label for="Correo_Electronico">Correo electronico:</label>
                    <input type="text" id="Correo_Electronico" name="Correo_Electronico" placeholder="Ingresa tu nombre de usuario" required>
                    <label for="Contrasena">Contraseña:</label>
                    <input type="password" id="Contrasena" name="Contrasena" placeholder="Ingresa tu contraseña" required>
                    <button type="submit">Iniciar sesión</button>
                    <p>No tienes una cuenta? <a href="/Registrarse">Registrate</a></p>
                </form>
            </div>
            <div class="login-image">
                <img src="/Resources/Images/Mujer-Fondo.jpg" alt="Imagen de inicio de sesión">
            </div>
        </div>

        <!-- Footer -->
        <%- include('../Includes/Footer.ejs') %>