<!-- Header -->
<%- include('../Includes/Header.ejs') %>
    <link rel="stylesheet" href="/CSS/Login-Registrarse.css">

    <!-- Nav -->
    <%- include('../Includes/Nav.ejs') %>

        <!-- Division -->
        <div class="container">
            <div class="login-form">
                <h1>Registrarse</h1>
                <form>
                    <label for="Nombre">Nombre:</label>
                    <input type="text" id="Nombre" name="Nombre" placeholder="Ingresa tu nombre">
                    <label for="Apellido">Apellido:</label>
                    <input type="text" id="Apellido" name="Apellido" placeholder="Ingresa tus apellidos">
                    <label for="Birthday">Fecha de nacimiento:</label>
                    <input type="date" id="Birthday" name="Birthday" placeholder="Ingresa tu fecha de nacimeinto">
                    <label for="Usuario">Nombre de usuario:</label>
                    <input type="text" id="Usuario" name="Usuario" placeholder="Ingresa tu nombre de usuario">
                    <label for="Email">Correo electronico:</label>
                    <input type="email" id="Email" name="Email" placeholder="Ingresa tu correo electronico">
                    <label for="Password">Contraseña:</label>
                    <input type="password" id="Password" name="Password" placeholder="Ingresa tu contraseña">
                    <button type="submit">Registrarse</button>
                    <p>Ya tienes una cuenta? <a href="/Login">Iniciar Sesion</a></p>
                </form>
            </div>
            <div class="login-image">
                <img src="/Resources/Images/Mujer-Fondo-2.jpg" alt="Imagen de inicio de sesión">
            </div>
        </div>

        <!-- Footer -->
        <%- include('../Includes/Footer.ejs') %>