<!-- Header -->
<%- include('../Includes/Header.ejs') %>

    <!-- CSS -->
    <link rel="stylesheet" href="/CSS/404.css">

        <!-- Division -->
        <div class="Contenedor-404">
            <i class="fa-solid fa-screwdriver-wrench fa-10x"></i><br>
            <h1>¡Lo sentimos! <br> Estamos trabajando para mejorar su experiencia <br><span style="font-weight: 600;">En un momento sera redirigido <i class="fa-solid fa-circle-info"></i></span></h1>
        </div>

        <!-- Scripts -->
        <script>
            setTimeout('history.back()', 5000);
        </script>

        <!-- Footer -->
        <%- include('../Includes/Footer.ejs') %>