<!-- Header -->
<%- include("../Includes/Header.ejs") %>

    <!-- CSS -->
    <link rel="stylesheet" href="/CSS/Style.css">

    <!-- Nav Usuario -->
    <%- include("../Includes/Nav-Usuario.ejs") %>

        <!-- Division -->
        <div class="lista">
            <ul>
                <li><a href="/Usuario/Nivel-A1">A1 - Principiante</a></li>
                <li><a href="/Usuario/Nivel-A2">A2 - Elemental</a></li>
                <li><a href="/Usuario/Nivel-B1">B1 - Intermedio bajo</a></li>
                <li><a href="/Usuario/Nivel-B2">B2 - Intermedio alto</a></li>
            </ul>
        </div>

        <!-- Footer -->
        <%- include("../Includes/Footer.ejs") %>