<!-- Header -->
<%- include("../Includes/Header.ejs") %>

	<!-- CSS -->
	<link rel="stylesheet" href="/CSS/Ejercicios.css">

	<!-- Nav Usuario -->
	<%- include("../Includes/Nav-Usuario.ejs") %>

		<!-- Division -->
		<div class="Contenedor-Ejercicios">
			<header>
				<h1>Ejercicios de inglés - Nivel A2</h1>
			</header>
			<main>
				<div class="question-container" id="question-containerA2">
					<h2 id="question"></h2>
					<br><br>
					<input type="text" id="answer">
					<button id="check">Comprobar</button>
					<p id="result"></p>
				</div>
				<!-- <div id="progress-container">
					<div id="progress-bar"></div>
				</div> -->
			</main>
			<div class="Botones">
				<a href="/Usuario">Volver</a>
				<a href="/Usuario/Nivel-A2">Reiniciar</a>
			</div>
			<header>
				<h2>Aprender ingles nunca habia sido tan facil</h2>
			</header>
		</div>

		<!-- Scripts -->
		<script src="/JavaScript/Scripts.js"></script>

		<!-- Footer -->
		<%- include("../Includes/Footer.ejs") %>