<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Metas -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="../CSS/Default.css">
    <link rel="stylesheet" href="../CSS/Login-Registrarse.css">
    <!-- Titulo & Icono -->
    <title>Triolingo</title>
    <link rel="shortcut icon" href="../Resources/Icons/SVG/Triolingo.svg" type="image/x-icon">
</head>

<body>
    <!-- Division NAV -->
    <nav>
        <div class="Logo">
            <img src="../Resources/Icons/SVG/Triolingo.svg" alt="">
            <h1>Triolingo</h1>
        </div>
        <!-- Movil solo aparece en resoluciones pequeñas-->
        <div class="Movil">
            <input type="image" src="../Resources/Icons/PNG/menu.png" alt="">
        </div>
        <div class="Menu">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="./Login.html">Ingresar</a></li>
                <li><a href="./Registro.html">Registrarse</a></li>
            </ul>
        </div>
    </nav>

    <!-- Division -->
    <div class="container">
        <div class="login-form">
            <h1>Iniciar sesión</h1>
            <form>
                <label for="email">Correo electronico:</label>
                <input type="text" id="email" name="email" placeholder="Ingresa tu nombre de usuario">
                <label for="password">Contraseña:</label>
                <input type="password" id="password" name="password" placeholder="Ingresa tu contraseña">
                <button type="submit">Iniciar sesión</button>
                <p>No tienes una cuenta? <a href="../View/Registro.html">Registrate</a></p>
            </form>
        </div>
        <div class="login-image">
            <img src="../Resources/Images/Mujer-Fondo.jpg" alt="Imagen de inicio de sesión">
        </div>
    </div>

    <!-- Division Footer-->
    <footer>
        <p>© Copyright - <a href="./index.html">Triolingo</a> 2023</p>
    </footer>
</body>

</html>