<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Metas -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="../CSS/Default.css">
    <link rel="stylesheet" href="../CSS/Registrarse.css">
    <!-- Titulo & Icono -->
    <title>Triolingo - Login</title>
    <link rel="shortcut icon" href="../Resources/Icons/SVG/Triolingo.svg" type="image/x-icon">
</head>

<body>
    <!-- Division -->
    <nav class="navbar">
        <a href="#" class="logo"><img src="../Resources/Icons/SVG/Triolingo.svg" alt="">Trioligno</a>
        <a href="#" class="toggle-button">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>
        <div class="navbar-links">
            <ul>
                <li><a href="../View/index.html">Inicio</a></li>
                <li><a href="../View/Login.html">Login</a></li>
            </ul>
        </div>
    </nav>

    <!-- Division -->
    <br>
    <div class="register-wrapper">
        <div class="register-container">
            <h2>Registro</h2>
            <form>
                <label for="first-name">Nombre:</label>
                <input type="text" id="first-name" name="first-name">

                <label for="last-name">Apellido:</label>
                <input type="text" id="last-name" name="last-name" >

                <label for="birthdate">Fecha de nacimiento:</label>
                <input type="date" id="birthdate" name="birthdate">

                <label for="username">Nombre de usuario:</label>
                <input type="text" id="username" name="username">

                <label for="email">Correo electrónico:</label>
                <input type="email" id="email" name="email">

                <label for="password">Contraseña:</label>
                <input type="password" id="password" name="password">

                <label for="form-inscription">Ficha de inscripción:</label>
                <input type="file" id="form-inscription" name="form-inscription">

                <button type="submit">Registrarse</button>
            </form>
        </div>
    </div>
    <br>

    <!-- Division -->
    <footer>
        <p>© Copyright - <a href="index.html">Triolingo</a> 2023</p>
    </footer>

    <!-- JavaScript -->
    <script src="../JavaScript/Default.js"></script>
    <script src="../JavaScript/Registrarse.js"></script>
</body>

</html>